# Виртуальное окружение
.venv/
venv/
env/

# Кэши Python
__pycache__/
*.pyc
*.pyo

# Кэши mypy
.mypy_cache/

# Кэши pytest (если будете использовать)
.pytest_cache/

# Файлы IDE (опционально)
.vscode/
.idea/